/outputs
/.vscode
.gitignore
propiedades_pasto_30.xlsx
propiedades_pasto_30_2.xlsx
propiedades_pasto_30_3.xlsx
propiedades_pasto_30_4.xlsx
propiedades_pasto_52.xlsx
propiedades_pasto_11_05_21.xlsx
propiedades.xlsx
.ipynb_checkpoints/
chromedriver.exe
links.txt
notas_xpaths.txt
00_scrap_inicial_properati.ipynb
01_navigation.ipynb
02_analisis_pruebas_de_clustering.ipynb
02b_analisis.ipynb