propiedades_pasto_30.xlsx
propiedades_pasto_30_2.xlsx
propiedades_pasto_30_3.xlsx
propiedades_pasto_30_4.xlsx
propiedades_pasto_52.xlsx
propiedades.xlsx
.ipynb_checkpoints/
chromedriver.exe
links.txt
notas_xpaths.txt